.about {
    padding-top: 9.3rem;
    padding-bottom: 11rem;
    background-color: #fff;
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -3rem;
    }
    &-item {
        margin-left: 3rem;
        width: calc(33.33% - 3rem);
        position: relative;
    } 
    &-content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, rgba($primary-color, 0.8), rgba($secondary-color , 0.8));
        z-index: 2;

    }   

    
}