.about {
    padding-top: 9.3rem;
    padding-bottom: 11rem;
    background-color: #fff;
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -3rem;
    }
    &-item {
        margin-left: 3rem;
        width: calc(33.33% - 3rem);
        position: relative;
        z-index: 1;
        transition: all 0.25s linear;
        &::after {
            content: "";
            @include absoluteFull();
            background-color: $third-color;
            z-index: -1;
        }
        &:hover {
            .about-content {
                opacity: 1;
                visibility: visible;
            }
            transform: translate(-1rem,-1rem);
        }
    } 
    &-content {
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear; 
        @include absoluteFull();
        background: linear-gradient(to bottom, rgba($primary-color, 0.8), rgba($secondary-color , 0.8));
        z-index: 2;
        color: #fff;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        text-transform: uppercase;
    } 
    &-title {
        font-weight: bold;
        font-size: 1.8rem;
    } 
    &-icon {
        font-size: 2rem;
    } 

    
}