.footer {
    &-top {
        padding: 7.5rem 0 7rem;
        @include flexbox(stretch, space-between);
    }
    &-column {
        &:first-child {
            width: calc(40% - 25px);
        }
        &:last-child {
            width: calc(30% - 25px);
        }
    }
    &-heading {
        text-transform: uppercase;
        font-weight: 500;
        height: 4rem;
        display: inline-block;
        margin-bottom: 2rem;
        &--logo {
            text-transform: none;
            font-size: 4.6rem;
            font-weight: 600;
            color: $gray-dark-color;
        }
    }
    &-desc {
        font-style: normal;
        margin-bottom: 4.5rem;
        margin-top: 2rem;
    }
    &-follower {
        strong {
            font-weight: bold;
            font-size: 1.8rem;
        }
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $boder-color;
    }
    &-social {
        @include flexbox(center);
        margin-bottom: 3.5rem;
        &-icon {
            color: $third-color;
            margin-left: 1.5rem;
            font-size: 2rem;
        }
    }
    &-form {
        width: 100%;
        max-width: 38rem;
        @include flexbox;
        &-input {
            padding: 1.5rem;
            background-color: white;
            border: 1px solid $boder-color;
            border-right: 0;
            font-family: $secondary-font;
            font-style: italic;
            width: 100%;
        }
        &-button {
            color: white;
            text-transform: uppercase;
            border: 0;
            padding: 1.5rem 3.5rem;
            background-color: $third-color;
            font-weight: bold;
            flex-shrink: 0;
        }
    }
    &-blog {
        @include flexbox(center);
        margin-bottom: 3rem;
        &-image {
            @include size(12rem, 8rem);
            object-fit: cover;
            flex-shrink: 0;
        }
        &-info {
            padding-left: 2rem;
        }
        &-title {
            font-size: 1.2rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-weight: 500;
            line-height: 1.4;
            color: $title-color
        }
    }
    &-images {
        @include flexbox(stretch, flex-start, row, flex, wrap);
        margin-left: -2px;
        margin-bottom: 2rem;
    }
    &-image {
        margin-left: 2px;
        margin-bottom: 2px;
        width: calc(33.33% - 2px);
        padding-bottom: 33.33%;
        height: 0;
        position: relative;
        img {
            @include size(100%);
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &-bottom {
        padding: 2.5em 0;
        text-align: center;
        border-top: 1px solid $boder-color;
        span {
            color: $primary-color;
        }
    }
}