section.about
    .container 
        +blockBox("What we do", "Story about us", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit reiciendis quaerat repudiandae, eius minus beatae earum assumenda, ut voluptates ipsum repellat eaque? Explicabo doloribus molestias tenetur? Libero provident pariatur distinctio.")
        .about-list 
            +aboutItem("../images/img-about1.png", "Super Team" , "fa fa-users")
            +aboutItem("../images/img-about2.png", "Super Team" , "fa fa-users")
            +aboutItem("../images/img-about3.png", "Super Team" , "fa fa-users")
           
