footer.footer 
    .container 
        .footer-top 
            .footer-column
                h3.footer-heading.footer-heading--logo MoGo 
                p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure officiis maxime, magni debitis placeat impedit deserunt ullam consequuntur rerum. Fugiat, quibusdam rem animi saepe atque dolore error non ipsa similique?
                p.footer-folllower <strong>15k</strong>followers 
                .footer-social 
                    span Follow us :
                    .footer-social-list
                        i.fab.fa-facebook
                        i.fab.fa-facebook
                        i.fab.fa-facebook
                        i.fab.fa-facebook
                form.footer-form
                    input(type="email" placeholder="Your email").footer-form-input
                    button.footer-form-button Subscribe 
            .footer-column
                h3.footer-heading Blogs 
                .footer-blog
                    img.footer-blog-image(src="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        span.footer-blog-date Jan 9, 2016               
                .footer-blog
                    img.footer-blog-image(src="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        span.footer-blog-date Jan 9, 2016
                .footer-blog
                    img.footer-blog-image(src="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        span.footer-blog-date Jan 9, 2016
            .footer-column
                h3.footer-heading Instagram 
                .footer-images 
                    .footer-image 
                        img(src="")
        .footer-bottom 
