footer.footer 
    .container 
        .footer-top 
            .footer-column
                h3.footer-heading MoGo 
                p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure officiis maxime, magni debitis placeat impedit deserunt ullam consequuntur rerum. Fugiat, quibusdam rem animi saepe atque dolore error non ipsa similique?
                p.footer-folllower <strong>15k</strong>followers 
                .footer-social 
                    span Follow us :
                    .footer-social-list
            .footer-column
            .footer-column
        .footer-bottom 
