section.quote
section.people 
    .container 
        +blockBox("Happy client", "What people say")
        ul.people-list
            +peopleItem
            +peopleItem
            +peopleItem
            +peopleItem