section.quote 
    .container 
        .quote-container 
            //- i.fa.fa-angle-left.quote-arrow-left.quote-arrow 
            .quote-item 
                .quote-icon 
                    img(src = "../images/img-quote.png").quote-image
                .quote-info
                    .quote-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem non eius doloribus hic. Numquam libero sapiente mollitia a. Voluptas quis ratione vel. Sint non quam repellendus ipsam illo vitae sunt?
                    .quote-author John Doe
            //- i.fa.fa-angle-right.quote-arrow-right.quote-arrow  