section.service
    .container 
        +blockBox("We work with", "amazing services")
        .service-container 
            .service-list 
                +serviceItem("../images/img-service-icon1.png", "photography", " Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing " )
                +serviceItem("../images/img-service-icon2.png", "web design ", " Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing " )
                +serviceItem("../images/img-service-icon3.png", "creativity", " Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing " )
                +serviceItem("../images/img-service-icon4.png", "seo", " Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing " )
                +serviceItem("../images/img-service-icon5.png", "html/css ", " Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing " )
                +serviceItem("../images/img-service-icon6.png", "digital", " Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing " )