section.service
    .container 
        +blockBox("We work with", "amazing services")
        .service-list 
            .service-item 
                i.fa.fa-cog.service-item-icon(src = "../images/amazing_icon1.png")
                .service-item-info 
                    h3.service-item-title Photography 
                    p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            .service-item 
                i.fa.fa-cog.service-item-icon
                .service-item-info 
                    h3.service-item-title web design 
                    p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            .service-item 
                i.fa.fa-cog.service-item-icon
                .service-item-info 
                    h3.service-item-title creativity
                    p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. 

