section.service
    .container 
        +blockBox("We work with", "amazing services")
        .service-list 
            .service-item 
                i.fa.fa-cog.service-item-icon
                .service-item-info 
                    h3.serrvice-item-title Photography 
                    p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus distinctio corrupti accusantium voluptates iusto
            .service-item 
                i.fa.fa-cog.service-item-icon
                .service-item-info 
                    h3.serrvice-item-title Photography 
                    p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus distinctio corrupti accusantium voluptates iusto
            .service-item 
                i.fa.fa-cog.service-item-icon
                .service-item-info 
                    h3.serrvice-item-title Photography 
                    p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus distinctio corrupti accusantium voluptates iusto

