section.service
    .container 
        +blockBox("We work with", "amazing services")
        .service-container 
            .service-list 
                +serviceItem("../images/img-service-icon1.png", "photography", " Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing " )
                .service-item 
                    img.service-item-icon(src="../images/img-service-icon1.png")
                    .service-item-info 
                        h3.service-item-title Photography 
                        p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing 
                .service-item 
                    img.service-item-icon(src="../images/img-service-icon2.png")
                    .service-item-info 
                        h3.service-item-title web design 
                        p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing 
                .service-item 
                    img.service-item-icon(src="../images/img-service-icon3.png")
                    .service-item-info 
                        h3.service-item-title creativity
                        p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing 
            .service-list 
                .service-item 
                    img.service-item-icon(src="../images/img-service-icon4.png")
                    .service-item-info 
                        h3.service-item-title seo 
                        p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing 
                .service-item 
                    img.service-item-icon(src="../images/img-service-icon5.png")
                    .service-item-info 
                        h3.service-item-title html/css 
                        p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing 
                .service-item 
                    img.service-item-icon(src="../images/img-service-icon6.png")
                    .service-item-info 
                        h3.service-item-title digital
                        p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing 

