section.story 
    .container 
        +blockBox("Our stories", "Latest box")
        ul.story-list 
            li.story-item
                .story-media 
                    img.story-image(src="../images/img-blog1.png")
                    .story-date 
                        span.story-date-number 15
                        span.story-date-text Jan
                h3.story-title Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                p.story-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis, laborum repellendus aspernatur doloribus, corporis quisquam unde, obcaecati voluptatum facere delectus? Exercitationem sunt assumenda vel provident, libero quisquam corporis dolor!
                .story-meta 
                    .story-meta-item
                        i.fa.fa-eye.story-meta-icon 
                        span.story-meta-number 17
                    .story-meta-item
                        i.fa.fa-comment.story-meta-icon 
                        span.story-meta-number 17
            li.story-item
                .story-media 
                    img.story-image(src="../images/img-blog1.png")
                    .story-date 
                        span.story-date-number 15
                        span.story-date-text Jan
                h3.story-title Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                p.story-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis, laborum repellendus aspernatur doloribus, corporis quisquam unde, obcaecati voluptatum facere delectus? Exercitationem sunt assumenda vel provident, libero quisquam corporis dolor!
                .story-meta 
                    .story-meta-item
                        i.fa.fa-eye.story-meta-icon 
                        span.story-meta-number 17
                    .story-meta-item
                        i.fa.fa-comment.story-meta-icon 
                        span.story-meta-number 17