section.story 
    .container 
        +blockBox("Our stories", "Latest box")
        ul.story-list 
            li.story-item
                .story-media 
                    img.story-image(src="../images/img-blog1.png")
                    .story-date 
                        span.story-date-number 15
                        span.story-date-text Jan