section.story 
    .container 
        +blockBox("Our stories", "Latest box")
        ul.story-list 
            +storyItem
            +storyItem("../images/img-blog2.png")
            +storyItem("../images/img-blog3.png")
section.map 
    .container
        .map-content 
            img(src="../images/img-map-icon.png")
            h2.map-heading Open map