section.wedo 
    .container 
        +blockBox("Service", "What we do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing  ")
        .wedo-container 
            img.wedo-image(src= ("../images/img-wedo.png")).wedo-image 
            .wedo-content 
                +wedoItem("../images/img-wedo-icon1.png", "Photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint?  ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint? ")
                +wedoItem("../images/img-wedo-icon2.png", "Creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint?  ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint? ")
                +wedoItem("../images/img-wedo-icon3.png", "Web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint?  ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint? ")
               
                

        