section.wedo 
    .container 
        +blockBox("Service", "What we do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing  ")
        .wedo-container 
            img.wedo-image(src= ("../images/img-wedo.png")) 
            .wedo-content 
                .wedo-item 
                    .wedo-item-header
                        img.wedo-item-icon(src=("../images/img-wedo-icon1.png"))
                

        