section.wedo 
    .container 
        +blockBox("Service", "What we do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing ipsum dolor sit amet, consectetur adipisicing elit psum dolor sit amet, consectetur adipisicing  ")
        .wedo-container 
            img.wedo-image(src= ("../images/img-wedo.png")).wedo-image 
            .wedo-content 
                .wedo-item.is-active
                    .wedo-item-header
                        img.wedo-item-icon(src=("../images/img-wedo-icon1.png"))
                        h3.wedo-item-title Photography Photography Photography Photography Photography Photography 
                        i.fal.fa-angle-up.wedo-item-arrow 
                    .wedo-item-content 
                        .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint?  ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint? 
                .wedo-item 
                    .wedo-item-header
                        img.wedo-item-icon(src=("../images/img-wedo-icon2.png"))
                        h3.wedo-item-title Creativity
                        i.fal.fa-angle-down.wedo-item-arrow 
                    .wedo-item-content 
                        .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint?  ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint? 
                .wedo-item 
                    .wedo-item-header
                        img.wedo-item-icon(src=("../images/img-wedo-icon3.png"))
                        h3.wedo-item-title Web design 
                        i.fal.fa-angle-down.wedo-item-arrow 
                    .wedo-item-content 
                        .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint?  ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint? 

                    
                

        