section.work 
    .container 
        +blockBox("What we do", "Some of our work", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores expedita, quibusdam minima, vel quod rem facilis excepturi sint?  ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti necessitatibus delectus. Magnam pariatur numquam nam hic facere nostrum atque asperiores ")
    .work-list 
        .work-column 
            .work-item 
                img.work-image(src="../images/img-work1.png")
                .work-content 
                    i.fa.fa-home.work-icon
                    h3.work-title Creatively designed 
                    span.work-desc.text.text--light.text--italic Lorem ipsum dolor sit
            .work-item 
                img.work-image(src="../images/img-work2.png")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc.text.text--light.text--italic Lorem ipsum dolor sit
        .work-column 
            .work-item 
                img.work-image(src="../images/img-work3.png")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc.text.text--light.text--italic Lorem ipsum dolor sit
            .work-item 
                img.work-image(src="../images/img-work4.png")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc.text.text--light.text--italic Lorem ipsum dolor sit
        .work-column
            .work-item.work-item--full  
                img.work-image(src="../images/img-work5.png")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc.text.text--light.text--italic Lorem ipsum dolor sit